
<div class="col-md-12" ng-controller="allCartsCtrl">
	<div>
		<form method="post" accept-charset="utf-8">
			Nouvelle Liste:
			<input type="text" name="name" ng-model="cart.name"/>
			<input type="submit" value="Créer" ng-click="createCart(cart)"/>
		</form>
	</div>
	
	<h1>All carts</h1>

	<ul class="list-group" ng-repeat="list in allCarts">
		<li class="list-group-item" >
			<a class="btn" href="#/list/{{list.id}}">{{list.name}}</a>
			<div class="btn-group btn-group-sm" role="group">
				<div class="btn-group btn-group-sm" role="group">
					<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
						<i class="fa fa-share-alt"></i>
					</button>
					<ul class="dropdown-menu" aria-labelledby="share_list" role="menu" ng-repeat="friend in friends">
						<li class="text-center">{{friend.username}}</li>
					</ul>
				</div>
				<button class="btn btn-default" type="button" style="color:#F00" ng-click="removeCart(list.id)">
					✗
				</button>
			</div>
		</li>
	</ul>
</div>
