<h1></h1>
<div class="col-md-12 left" ng-controller="cartCtrl">
	<div class="dropdown">
		<button class="btn btn-default dropdown-toggle" type="button" id="button_add" data-toggle="dropdown" aria-expanded="true">
			Ajouter un nouveau produit
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
			<form id="form_create_product" class="form-group">
				<label for="name">Nom:</label>
				<input type="text" name="name" class="form-control" ng-model="product.name">
				<label for="price">Prix:</label>
				<input type="text" name="price" class="form-control" ng-model="product.price">
				<label for="quantity">Quantité:</label>
				<input type="text" name="quantity" class="form-control" ng-model="product.quantity">
				<label for="unit">Unité:</label>
				<input type="text" name="unit" class="form-control" ng-model="product.unit">
				<label for="img">Image:</label>
				<input type="text" name="img" class="form-control" ng-model="product.img">
				<input type="button" value="Creer" ng-click="createProduct(product)">
			</form>
		</ul>
	</div>
	<div class="col-md-6" role="tabpanel">
		<h3>Panier</h3>
		<ul class="list-group list_achat" ng-repeat="element in bought">
			<li class="list-group-item achat" ng-click="removeToCart(element.product.id)">
				{{element.product.name}}
				<span class="badge">{{element.list.quantity}}</span>
			</li>
		</ul>
		<strong>{{bought.length}}</strong> produit dans le panier.
	</div>
	<div class="col-md-6" role="tabpanel">
		<h3>Produits</h3>
		<div class="row list_prod">
			<div class="col-xs-4 col-sm-3 col-lg-2" ng-repeat="item in items">
				<div class="thumbnail product" ng-click="addToCart(item.id)">
					<p class="">{{item.name}}</p>
				</div>
			</div>
		</div>
	</div>
</div>	
