<div class="col-md-8">
	<div id="pres">
		Toto
	</div>
</div>
<div class="col-md-4" ng-controller="indexCtrl">
	<div>
		<form method="post">
			<label for="name">Nom:</label>
			<input type="text" name="name" ng-model="register.name"/>
			<label for="mail">Mail:</label>
			<input type="mail" name="mail" ng-model="register.mail"/>
			<label for="password">Password:</label>
			<input type="password" name="password" ng-model="register.password"/>
			<input type="button" value="Register" ng-click="createUser(register)">
		</form>
	</div>
</div>
