<h1>Profil</h1>
<div class="col-md-12">
	<div class="btn-group">
		<div class="dropdown">
			<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
				Ajouter un amis <span class="caret"></span>
			</button>
			<div class="dropdown-menu" style="padding:15px;">
				<form id="form_add_friend">
					<label for="name">Nom:</label>
					<input type="text" name="name" ng-model="new_friend.name"/>
					<p>ou</p>
					<label for="name">Email:</label>
					<input type="email" name="mail" ng-model="new_friend.mail"/>
					<input type="button" value="Creer" ng-click="addFriends(new_friend)"/>
				</form>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		Amis
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="friend in friends">
			{{ friend.username }}
			<div class="btn-group btn-group-sm" role="group">
				<div class="btn-group btn-group-sm" role="group">
					<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
						<i class="fa fa-share-alt"></i>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li class="text-center" ng-repeat="list in lists" ng-click="shareList(list.id, friend.id)">{{list.name}}</li>
					</ul>
				</div>
				<button class="btn btn-default" type="button" style="color:#F00">
					✗
				</button>
			</div>
			</li>
		</ul>
	</div>
</div>
