html {
	height: 100%;
}

body{
	margin: 0;
	padding: 0;
	line-height: 20px;
	font-size: 14px;
	width: 100%;
	height: 100%;
}

header {
	/*position: static;*/
	background: #101010;
	min-height: 40px;
	padding-left: 20px;
	padding-right: 20px;
	border-bottom: 2px solid #08C;
	box-shadow: 0px 2px 4px #aaa;
}

header:after {
	clear: both;
	display: table;
	content: "";
	line-height: 0px;
}

.container {
	width: 940px;
	margin-right: auto;
	margin-left: auto;
}

.container .brand {
	color: #DDD;
	font-size: 32px;
	float: left;
	padding: 21px 20px 0px 0px;
	text-decoration: none;
}

.menu {
	float: right;
	margin: 0px 10px 0px 0px;
	list-style: none outside none;
}

nav .menu > li {
	float: left;
}

nav .menu > li > a {
	float: none;
	padding: 18px 20px;
	text-decoration: none;
	display: block;
	color: #08C;
}

section {
	width: 900px;
	height: 100%;
	margin-right: auto;
	margin-left: auto;
	padding: 20px;
	box-shadow: 1px 0px 4px #aaa;
	background-color: #FBFBFB;
}

h1 {
}

li {
	line-height: 20px;
}

.produit {
	display: inline-block;
	padding: 18px 20px;
	text-decoration: none;
	border: 1px solid red;
	border-radius: 6px;
	width: 40px;
	color: green;
	margin: 5px 0px 5px 0px;
	cursor: pointer;
}

#newliste {
	padding: 10px;
	padding-left: 30px;
	color: #000;
	background-color: #CCCCCC;
	box-shadow: 1px 0px 4px #DDD;
	border-radius: 5px;
	text-align: center;
}

input {
	height: 20px;
	border: 1px solid  #AAA;
	border-radius: 6px;
}

aside {
	width : 275px;
	float: right;
	background-color: #AAA;
	padding: 0px;
	margin: 0px;
}

#list_prod {
	padding: 0px 10px 0px 10px;
}

#form {
	background-color: #08C;
	color: white;
	border-radius: 6px;
}

#form_add_product {
	display: none;
	margin-left: 10px;
}

#button_add {
	margin-left: 20px;
	display: inline-block;
	width: 40px;
	height: 40px;
	cursor: pointer;
}

label {
	display: block;
	width: 100px;
	float: left;
}
