{% extends "layout.html" %}
{% block content %}
	<h1>{{ titre }}</h1>
	<div id="newliste">
		<form action="/addlist/" method="post">
			Nouvelle liste : <input type="text" name="name">
			<input type="submit" value="Creer">
		</form>
	</div>
	<h2> liste:</h2>
	<div class="btn-group-vertical">
		{% for elem in liste %}
			<a class="btn list_list" href="/liste/{{ elem.id }}">{{ elem.name }}</a>
			<div class="dropdown">
				<button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
					<i class="fa fa-share-alt"></i>
				</button>
				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
					{% for friend in friends %}
						<li role="presentation">
							<a class="share" role="menuitem" tabindex="{{ friend.id }}" title="{{ elem.id }}" href="#">{{ friend.username }}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		{% endfor %}
	</div>
{% endblock %}
