{% extends "layout.html" %}
{% block content %}
	<h1>{{ titre }}</h1>
	<form action="" method="post">
		<input type="text" name="login" />
		<input type="password" name="password" />
		<input type="submit" value="Envoyer">
	</form>
	{% with errors = get_flashed_messages(category_filter=["error"]) %}
	{% if errors %}
	<div class="alert-message block-message error">
		<ul>
			{%- for msg in errors %}
			<li>{{ msg }}</li>
			{% endfor -%}
		</ul>
	</div>
	{% endif %}
	{% endwith %}
{% endblock %}
