{% extends "layout.html" %}
{% block content %}
	<script>
		var id_list = {{ number }};
	</script>
	<h1>{{ titre }}</h1>
	<div class="col-md-12 left">
		<div class="dropdown">
			<button class="btn btn-default dropdown-toggle" type="button" id="button_add" data-toggle="dropdown" aria-expanded="true">
				Ajouter un nouveau produit
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
				<form id="form_create_product" class="form-group">
					<label for="name">Nom:</label>
					<input type="text" name="name" id="name" class="form-control">
					<label for="price">Prix:</label>
					<input type="text" name="price" id="price" class="form-control">
					<label for="quantity">Quantité:</label>
					<input type="text" name="quantity" id="quantity" class="form-control">
					<label for="unit">Unité:</label>
					<input type="text" name="unit" id="unit" class="form-control">
					<label for="img">Image:</label>
					<input type="text" name="img" id="img" class="form-control">
					<input type="button" value="Creer" id="bt_create_product">
				</form>
			</ul>
		</div>
	</div>
	<div role="tabpanel">
		<ul class="nav nav-pills" role="tablist">
			<li role="presentation" class="active"><a href="#cart" aria-controls="cart" role="tab" data-toggle="tab">Cart</a></li>
			<li role="presentation"><a href="#products" aria-controls="products" role="tab" data-toggle="tab">Products</a></li>
		</ul>
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="cart">
				<h3>Panier</h3>
				<ul class="list-group list_achat">
					{% for achat in achats %}
					<li class="list-group-item achat" id="{{ achat.Product.id }}">
						<!--<img src=""></img>-->
						{{ achat.Product.name }}
						<span class="badge">{{ achat.ListProduct.quantity }}</span>
					</li>
					{% endfor %}
				</ul>
			</div>
			<div role="tabpanel" class="tab-pane" id="products">
				<h3>Liste de produits</h3>
				<div class="row list_prod">
					{% for produit in produits %}
					<div class="col-xs-4 col-sm-3 col-lg-2">
						<div class="thumbnail product" id="{{ produit.id }}">
							<p class="">{{ produit.name }}</p>
							<p>+</p>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
