{% extends "layout.html" %}
{% block content %}
	<script>
		var id_list = {{ number }};
	</script>
	<h1>{{ titre }}</h1>
	<div id="form" class="col-md-12">
		<div id="button_add">
			<span class="glyphicon glyphicon-plus"/></span>Ajouter un produit
		</div>
		<form id="form_add_product" class="form-group">
			<label for="name">Nom:</label>
			<input type="text" name="name" id="name" class="form-control">
			<label for="price">Prix:</label>
			<input type="text" name="price" id="price" class="form-control">
			<label for="quantity">Quantité:</label>
			<input type="text" name="quantity" id="quantity" class="form-control">
			<label for="unit">Unité:</label>
			<input type="text" name="unit" id="unit" class="form-control">
			<label for="img">Image:</label>
			<input type="text" name="img" id="img" class="form-control">
			<input type="button" value="Creer" id="create">
		</form>
	</div>
	<div class="col-md-6">
		<ul id="liste" class="list-group">
			{% for achat in achats %}
			<li class="list-group-item panier" id="{{ achat.Product.id }}">
			    {{ achat.Product.name }}
				<span class="badge">{{ achat.ListProduct.quantity }}</span>
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="col-md-6">
		<ul id="list_prod" class="list-group">
			{% for produit in produits %}
			<li class="list-group-item achat" id="{{ produit.id }}">
				{{ produit.name }}
				<span class="glyphicon glyphicon-plus"/>
			</li>
			{% endfor %}
		</ul>
	</div>
	<script src="{{ url_for('static', filename='my_list.js') }}"></script>
{% endblock %}
